<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //pobranie serwerów
            window.setInterval(function() {
                $.ajax({
                    url: 'servers',
                    dataType: 'json',
                    success: function(data) {
                        var list = $('<div></div>');
                        $.each(data, function(index, value) {
                           console.log(JSON.stringify(value));
                           var elem = $('<div></div>').html(value.name + ', ' + value.op + ', ' + value.calc);
                           list.append(elem);
                        });
                        $('.list').html(list);
                    }
                });
            }, 5000);

            $('#onp').submit(function(e) {
                e.preventDefault();
                data = $('#onp').serialize();
                $.ajax({
                    type: "POST",
                    url: 'onp',
                    data: data,
                    success: function(data) {
                        if(data.length > 0) {
                            $('#result').html(data);
                        } else
                            $('#result').html('Error, upewnij sie ze poprawne.');
                    }
                });
            });
        });
    </script>
</head>
<body>
{% if messages %}
    <div class="messages">
    {% for message in messages %}
    <p class="notification{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}
    </div>
{% endif %}
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="span5">
            {% block content %}{% endblock %}
        </div>
        <div class="span7">
            <div class="list">
                Lista serwerów odświeży się automatycznie
            </div>
        </div>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>