{% extends "base.html" %}
{% block content %}
<form id="onp">
    <label name="onp">Wpisz wyrażenie</label>
    <input type="text" name="onp" />
    <input type="submit" value="Wyślij" />
</form>
<div id="result"></div>
{% endblock %}
